<div class="login-state">
	
	<div class="page-header">
		<h1>Hey, du!</h1>
	</div>	
    
    <div class="row">
		<div class="col-xs-12 col-md-6" style="text-align: justify;">
        <div class="row" style="margin-bottom:40px;">
			<div class="col-xs-12">
                <p>Diese Anwendung greift auf deinen Google-Kalender zu und benötigt daher deine Einwilligung.</p>
                <p>Beim ersten Anmelden wird sich daher ein Popup-Fenster öffnen, sobald du auf den Login-Button klickst. Bitte bestätige dort den Zugriff auf deinen Kalender.</p>
            </div>
            
            <div class="col-xs-12 chrome" ng-if="loginState.showPopupHint && loginState.browser === 'chrome'">
                <p>Falls kein Popup kommt, hat der Popup-Blocker dies verhindert. Klicke auf das Icon in der Browserleiste (oben), um Popups vorübergehend zuzulassen.</p>
                <img src="/build/images/popup/chrome.png" />
            </div>
            
            <div class="col-xs-12 ie" ng-if="loginState.showPopupHint && loginState.browser === 'ie'">
                <p>Falls kein Popup kommt, hat der Popup-Blocker dies verhindert. Klicke auf das "Einmal zulassen" in der Leiste unten am Browser, um Popups vorübergehend zuzulassen.</p>
                <img src="/build/images/popup/ie.png" />
            </div>
            
            <div class="col-xs-12 firefox" ng-if="loginState.showPopupHint && loginState.browser === 'firefox'">
                 <p>Falls kein Popup kommt, hat der Popup-Blocker dies verhindert. Klicke auf das Icon in der Browserleiste (oben), um Popups vorübergehend zuzulassen.</p>
                <img src="/build/images/popup/firefox.png" />
            </div>
            
            

            <div class="col-xs-12  text-center" style="margin-top: 50px">
                <button type="button" class="btn btn-primary btn-lg" ng-click="loginState.showPopupHint=true; application.login()">Login</button>
				
            </div>
            </div>
		</div>
        <div class="col-xs-12 col-md-6">
            <img src="/build/images/friendy-cow.jpg" class="cover-image" alt="Mooooh! Ich glotz dich an, einfach weil die Seite ohne mich etwas leer wäre" title="Mooooh! Ich glotz dich an, einfach weil die Seite ohne mich etwas leer wäre" />
        </div>
	</div>

	

</div>