<div class="calcreate-state">
	
    <script type="text/ng-template" id="user.scope.html">
        <span>{{item.scope.value}}</span>
    </script>
    <script type="text/ng-template" id="default.scope.html">
        <span>{{'acl.scopeType.' + item.scope.type | translate}}</span>
    </script>
    <script type="text/ng-template" id="group.scope.html">
        <span>{{'acl.scopeType.' + item.scope.type | translate}}: {{item.scope.value}}</span>
    </script>
    <script type="text/ng-template" id="domain.scope.html">
        <span>{{'acl.scopeType.' + item.scope.type | translate}}: {{item.scope.value}}</span>
    </script>
    
	<div class="page-header">
		<h1>{{'page.createAppointments' | translate}} <span class="glyphicon glyphicon-question-sign" ng-click="calcreateState.startIntro()" id="helpbutton"></span></h1>
	</div>	
    
    <div class="panel panel-default" id="generalinfopanel">
        <div class="panel-heading">Kalenderinformationen</div>
        <div class="panel-body">
        
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="row info">
                            <div class="col-sm-6 info-label">
                                <p>Gewählter Kalender:</p>
                            </div>
                            <div class="col-sm-6 info-text">
                                <p>{{calcreateState.selectedCalendar.summary}}</p>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-sm-6 info-label">
                                <p>Zeitzone:</p>
                            </div>
                            <div class="col-sm-6 info-text">
                                <p>{{calcreateState.selectedCalendar.timeZone}}</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="row info">
                            <div class="col-sm-4 info-label">
                                <p>Freigaben:</p>
                            </div>
                            <div class="col-sm-8">
                                <div class="table-responsive">
                                    <table class="table table-striped calendarTable">
                                        <tbody>
                                            <tr ng-repeat="item in filteredList = (calcreateState.acl | filter:{role: '!owner'})">
                                                <td ng-include="item.scope.type + '.scope.html'"></td>
                                                <td>{{'calRole.' + item.role | translate}}</td>
                                            </tr>
                                            <tr ng-hide="filteredList.length">
                                                <td>{{'acl.emptylist' | translate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        
        </div>
    </div><!-- end panel-->
        
    
	<div class="row">
		<div class="col-sm-12 col-md-12">
            <div class="panel panel-primary" id="panel-yourevents">
                <div class="panel-heading"><h3 class="panel-title">Dein Terminplan</h3></div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group info" id="startdaterow">
                            <label class="col-sm-5 control-label" for="startDate">{{'calendarsCreate.startDate' | translate}}*:</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input 
                                        class="form-control" 
                                        id="startDate" 
                                        name="startDate"
                                        uib-datepicker-popup="{{'datepicker.format' | translate}}" 
                                        ng-model="calcreateState.startDateExternal"
                                        is-open="calcreateState.datePopupOpened" 
                                        datepicker-options="calcreateState.dateOptions" 
                                        ng-required="true" 
                                        close-text="Close" 
                                        alt-input-formats="calcreateState.dateAltInputFormats"
                                        placeholder="{{'calendarsCreate.startDatePlaceholder' | translate}}" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calcreateState.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                    <p class="help">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="text">Ändere die Reihenfolge, indem du Einträge mit der Maus verschiebst.<br/>Dupliziere Elemente mit <code>Shift+Klick</code></span>
                    </p>
                    <ul class="days">
                        <li ng-repeat="n in [1,2,3,4,5,6,7] track by $index" class="weekdays">
                            {{'weekdays.n' + n | translate}}
                        </li>
                    </ul>
                    <ul dnd-list="calcreateState.selectionModel" 
                        dnd-drop="calcreateState.onDrop(index, item)" 
                        dnd-dragover="calcreateState.onDragOver(event, index, type, external)"
                        ng-class="{empty: !calcreateState.selectionModel.length}"
                        class="dropzone" 
						id="yourevents-list">
                        <li ng-repeat="item in calcreateState.selectionModel"
                            dnd-draggable="item"
                            dnd-effect-allowed="move"
                            dnd-moved="calcreateState.selectionModel.splice($index, 1)"
                            dnd-horizontal-list="calcreateState.horizontalMode"
                            dnd-selected="calcreateState.selectedItem = item"
                            ng-class="{'selected': calcreateState.selectedItem === item, 'placeholder': item.type === 'placeholder'}"
                            ng-style="item.style"
                            ng-click="calcreateState.duplicateItem($index, item, $event)"
                            dnd-disable-if="item.fixed === true"
                            
                            >
                            <div class="date">{{item.date | moment:'ddd DD. MMMM YY'}}</div> <div class="title">{{item.title}}</div><div class="time"><span>{{item.from}}</span> - <span>{{item.to}}</span></div>
                        </li>
                        <li class="dndPlaceholder">
                            Element hier einreihen
                        </li>
                    </ul>                   
                    <div class="btn-row">
                        <span>
                            <button type="button" class="btn btn-default " ng-click="calcreateState.clearSelectionModel()">{{'buttonClearEvents' | translate}}</button>
                        </span>
                        <span class="pull-right">
                            <button type="button" class="btn btn-primary" id="saveButton" ng-click="calcreateState.createEvents()">{{'buttonCreateEvents' | translate}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- end panel-->
        
    </div>
    <div class="row">
		
		<div class="col-sm-12 col-md-6">
            <div class="panel panel-primary" id="panel-templates">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Vorlagen 
                        <span class="glyphicon glyphicon-plus" ng-click="calcreateState.editTemplate()"></span>
                        <span class="glyphicon glyphicon-refresh" ng-click="calcreateState.loadTemplates()"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="help">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="text">Ziehe Elemente mit der Maus in deinen Terminplan (klicken, halten und dann ziehen).</span>
                    </p>
                    <ul dnd-list="calcreateState.templates" dnd-allowed-types="[]" class="templates">
                        <li ng-repeat="item in calcreateState.templates | orderBy:'orderId'"
                            dnd-draggable="item"
                            dnd-effect-allowed="copy"
                            dnd-copied="calcreateState.onCopyTemplate($index,item,'tmpl')"
                            ng-class="{'selected': calcreateState.selectedItem === item}"
                            ng-style="item.style"
                            >
                            {{item.title}} 
                            <div class="settings" ng-click="calcreateState.editTemplate(item)" ng-hide="item.title == 'Frei' || item.title == 'Freier Tag'"><span class="glyphicon glyphicon-cog"></span></div>
                            <div class="time" ng-hide="item.title == 'Frei' || item.title == 'Freier Tag'"><span>{{item.from}}</span> - <span>{{item.to}}</span></div>
                        </li>
                    </ul>
                </div>
            </div><!-- end panel-->
        </div>
        
        <div class="col-sm-12 col-md-6">    
            <div class="panel panel-default" id="panel-trash">
                <div class="panel-heading"><h3 class="panel-title">Abfalleimer</h3></div>
                <div class="panel-body">
                    <p class="help">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        Einträge auf dem Abfalleimer loslassen, um sie zu löschen.
                    </p>
                    <div class="trashcan box box-grey box-padding">
                        <!-- If you use [] as referenced list, the dropped elements will be lost -->
                        <ul dnd-list="[]" dnd-drop="calcreateState.onDelete(index, item)">
                            <li class="trash"><img src="/build/images/trashcan2.png" alt="{{'trashAlt' | translate}}"></li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</div>
    
    <div class="overlay progress-overlay active" ng-if="calcreateState.insertInProgress">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        
        <uib-progressbar max="calcreateState.selectionModel.length" value="calcreateState.insertProgressCount">
            <span style="color:white; white-space:nowrap;"> Speichere {{calcreateState.insertProgressCount}} von {{calcreateState.selectionModel.length}} Einträgen... </span>
        </uib-progressbar>
    </div>
    
</div>
