.calendarizator .introjs-helperNumberLayer{
    width: 29px;
    height: 29px;
}


.calcreate-state {
    .info{
        min-height: 34px;
        margin-bottom: 15px;
        .info-label,
        .info-text{
            min-height: 34px;
            p{
                padding: 8px;
            }
        }
        .info-label{
            font-weight: bold;
        }
    }
    
    span#helpbutton {
        font-size: 22px;
        color: #337ab7;
    }
    
    h1 .glyphicon,
    h2 .glyphicon,
    h3 .glyphicon,
    .panel-title .glyphicon {
        cursor: hand;
        cursor: pointer;
    }
    
    #panel-yourevents{
        min-height: 546px;
        
        ul[dnd-list]{
            min-height: 306px;
        }
    }
    
    /* styles for drag and drop parts */
    .settings{
        float: right;
        width: 20px;
        padding-top: 1px;
        cursor: pointer;
    }
    .time{
        /*float: right;*/
		/*width: 100px;*/
		& > span{
			display: inline-block;
			min-width: 40px;
			/*text-align: right;*/
		}
	}
    .date{
        /*min-width: 150px;*/
    }
    
    .title{
        /*width: calc(100% - 270px);*/
        text-overflow: ellipsis;
    }
    
    .time,
    .date,
    .title,
    .settings{
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .days{
        background-color: #f8f8f8;
        padding: 10px 10px 0px 10px;
        margin-top: 30px;
        margin-bottom: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        
        border: 1px dashed #ddd;
        border-bottom: none;
        
        li{
            width: 145px;
            float: left;
            margin: 5px;
            height: 40px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid #ddd;
            display: block;
            padding: 10px 15px;
            position: relative;
            cursor: pointer;
            background-color: #FFF;
        }
    }
    
    .dropzone{
        background-color: #f8f8f8;
        padding: 10px 10px 42px 10px;
        
        min-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        
        border: 1px dashed #ddd;
        border-top: none;
        
        
        &.empty{
            .dndPlaceholder{
                border: none;
            }
        }
        margin-top: 0px;
        margin-bottom: 30px;
        
        li{
            width: 145px;
            // 115px for medium
            float: left;
            margin: 5px;
            height: 77px;
            
            &.placeholder{
                background-color: transparent;
                border: none;
                
                div{
                    display: none;
    }
            }
        }
    
        &:before{
        position: absolute;
        top: calc(50% - 9px);
        left: calc(50% - 32px);
        color: #ddd;
        background-color: #f8f8f8;
        content: "drop zone";
    }
    }
    
    ul.templates{
        .dndDraggingSource{
            display: block;
        }
    }
	
	.trashcan{
		margin-top: 50px;
		
		.trash{
			max-width: 100px;
			max-height: 100px;
			padding: 0;
			margin: 0;
			border: none;
		}
	
		ul {
			list-style: none;
			padding-left: 0px;
		}

		img {
			width: 100%;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}

		.dndDragover img {
			width: 100%;
			-webkit-filter: none;
			-moz-filter: none;
			filter: none;
		}

		.dndPlaceholder {
			display: none;
		}
	}
}

.tmpledit{
    .row-time{
        height: 101px;
        label{
            padding-top: 40px;
        }
        table, span{
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    .color-box{
        vertical-align: text-bottom;
    }
    
}