.calendarizator .introjs-helperNumberLayer{
    width: 29px;
    height: 29px;
}


.calcreate-state {
    .info{
        min-height: 34px;
        margin-bottom: 15px;
        .info-label,
        .info-text{
            min-height: 34px;
            p{
                padding: 8px;
            }
        }
        .info-label{
            font-weight: bold;
        }
    }
    
    span#helpbutton {
        font-size: 22px;
        color: #337ab7;
    }
    
    h1 .glyphicon,
    h2 .glyphicon,
    h3 .glyphicon,
    .panel-title .glyphicon {
        cursor: hand;
        cursor: pointer;
    }
    
    #panel-yourevents{
        min-height: 546px;
        
        ul[dnd-list]{
            min-height: 306px;
        }
    }
    
    /* styles for drag and drop parts */
    .settings{
        float: right;
        width: 20px;
        padding-top: 1px;
        cursor: pointer;
    }
    .time{
        float: right;
		width: 100px;
		& > span{
			display: inline-block;
			min-width: 40px;
			text-align: right;
		}
	}
    .date{
        min-width: 150px;
    }
    
    .title{
        width: calc(100% - 270px);
        text-overflow: ellipsis;
    }
    
    .time,
    .date,
    .title,
    .settings{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .dropzone{
        background-color: #f8f8f8;
        padding-top: 42px;
        padding-bottom: 42px;
        
        &.empty{
            border: 1px dashed #ddd;
            .dndPlaceholder{
                border: none;
            }
        }
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .dropzone:before{
        position: absolute;
        top: calc(50% - 9px);
        left: calc(50% - 32px);
        color: #ddd;
        background-color: #f8f8f8;
        content: "drop zone";
    }
    
    ul.templates{
        .dndDraggingSource{
            display: block;
        }
    }
	
	.trashcan{
		margin-top: 50px;
		
		.trash{
			max-width: 100px;
			max-height: 100px;
			padding: 0;
			margin: 0;
			border: none;
		}
	
		ul {
			list-style: none;
			padding-left: 0px;
		}

		img {
			width: 100%;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}

		.dndDragover img {
			width: 100%;
			-webkit-filter: none;
			-moz-filter: none;
			filter: none;
		}

		.dndPlaceholder {
			display: none;
		}
	}
}

.tmpledit{
    .row-time{
        height: 101px;
        label{
            padding-top: 40px;
        }
        table, span{
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    .color-box{
        vertical-align: text-bottom;
    }
    
}