.calselect-state {
	.calendarTable{
		.primary{
			font-style: italic;
		}
		
		tr, td{
			cursor: pointer;
		}
        
        .color-box {
            margin-right: 10px;
        }
	}
    
    select .important{
        font-weight: bold;
    }
}